<div class="row contato">
    <form class="col s12" id="form">
      <div class="row">
	            
	      
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" required aria-required="true" data-required-message="Por favor insira um nome.">
          <label for="name">Nome</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="phone" type="tel" class="validate" maxlength="15" required aria-required="true" name="phone"  required pattern="[0-9]{10,11}$" required data-required-message="Por favor insira um telefone." data-type-message="Por favor insira um telefone válido.">
          <label for="phone">Telefone</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate" required aria-required="true">
          <label for="email">Email</label>
        </div>
 
	    </div>
 
	          <div class="row">
        <div class="input-field col s12">
          <input id="subject" type="text" class="validate" required aria-required="true">
          <label for="subject">Asunto</label>
        </div>
      </div>
	    

	    
	        <div class="row">
        <div class="input-field col s12">
          <textarea id="body" class="materialize-textarea" required aria-required="true"></textarea>
          <label for="body">Mensagem</label>
        </div>
      </div>
	    <button id="submit" type="submit" class="btn waves-effect waves-light" name="action">Enviar
    <i class="material-icons right">send</i>
  </button>
	       <button id="cancel" class="btn waves-effect waves-light grey lighten-4">Cancelar<i class="material-icons right">cancel</i></button>
          </form>
</div>
