	<div class="about full-page-panel center-align img-bg" id="our-work-space">
        <div class="container">
            <div class="card">
                <div class="card-content no-title">
                    <div class="row no-margin">
                        <div class="col s12">
                            <h2>Our Work space</h2>
                            <p class="static-text">Art of Where has a team of employees that print, cut, sew, and package your order from start to finish in our production studio in Montreal, Canada. Our employees are paid a fair wage, above minimum wage to start, and all breaks are paid. No unpaid internships! Many of our employees run their own online stores and know exactly what it takes to turn ideas and art into finished products worthy of their fans. We know that every employee is important, and we have teams in place to take care of you every step of the way from production to customer service and web development.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
