 <footer class="page-footer grey lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Localização</h5>
          <p class="white-text text-lighten-4">Av. Presidente Vargas, 1. Centro. Araxá, MG.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Horários de funcionamento</h5>
          <ul>
            <li><span class="white-text">2ª a 6ª das 7h às 22h</span></li>
            <li><span class="white-text">Sáb. das 8h às 19h</span></li>
           </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Telefones</h5>
          <ul>
		     <li>      <a class="collection-item valign-wrapper" href="tel:34993009650">
              <i class="material-icons small valign">phone</i>
         <span>  (34) 99900-1111</span>
        </a></li>
	            <li>      <a class="collection-item valign-wrapper" href="tel:34999009990">
              <i class="material-icons small valign">phone</i>
         <span>  (34) 99900-9999</span>
        </a></li>
                      </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
	      <div class="row">
      <a class="white-text text-lighten-3 col l9 s12" href="http://materializecss.com">Copyright © 2017 OdaTI</a>
	      <a class="white-text text-lighten-3 col l3 s12" href="http://www.odati.com.br">web by OdaTI</a>
	      </div>
      </div>
    </div>
</footer>
