 <div class="full-page-panel">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://assets.pcmag.com/media/images/456652-razer-blade-2015.jpg?thumb=y&width=393&height=354">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
  
      <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
        <div class="card-image">
        <img src="https://assets.pcmag.com/media/images/456652-razer-blade-2015.jpg?thumb=y&width=393&height=354">
      </div>  
  </div>
      <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://assets.pcmag.com/media/images/456652-razer-blade-2015.jpg?thumb=y&width=393&height=354">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
  </div>
